################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Smart/v16
/bin
/imgui.ini
/SMARTMARKET
